@charset "UTF-8";
:root {
  --ave-white: #fff;
  --ave-gray: #3d3d3d;
  --ave-primary: #5f24f1;
  --ave-secondary: #301279;
  --ave-active: #bfa7f9;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/font/inter/Inter-Thin.ttf") format("truetype"), url("https://fonts.gstatic.com/s/inter/v18/UcCo3FwrK3iLTcviYwY.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/font/inter/Inter-ExtraLight.ttf") format("truetype"), url("https://fonts.gstatic.com/s/inter/v18/UcCo3FwrK3iLTcviYwY.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/font/inter/Inter-Medium.ttf") format("truetype"), url("https://fonts.gstatic.com/s/inter/v18/UcCo3FwrK3iLTcviYwY.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/font/inter/Inter-Bold.ttf") format("truetype"), url("https://fonts.gstatic.com/s/inter/v18/UcCo3FwrK3iLTcviYwY.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/font/inter/Inter-ExtraBold.ttf") format("truetype"), url("https://fonts.gstatic.com/s/inter/v18/UcCo3FwrK3iLTcviYwY.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/font/inter/Inter-Black.ttf") format("truetype"), url("https://fonts.gstatic.com/s/inter/v18/UcCo3FwrK3iLTcviYwY.woff2") format("woff2");
}
:root {
  --ave-logo-size: 5.3125rem;
}

:root {
  --fenext-font-global: "Inter", system-ui;
  --fenext-size-menu-top: 3rem;
  --fenext-size-menu-left-close: 0px;
  --fenext-size-menu-left-max: max(13rem, 10vw);
  --fenext-size-menu-left: min(100%, var(--fenext-size-menu-left-max));
  --fenext-z-index-menu: 100;
  --fenext-z-index-modal: 2000;
  --fenext-z-index-select-option: 3000;
  --fenext-z-index-notification: 30000;
  --fenext-z-index-google-autocomplete-pac: 40000;
  --fenext-size-container: 80dvw;
  --fenext-size-btn-menu: 2rem;
  --fenext-size-user: 3rem;
  --fenext-modal-width: max(30vw, min(30rem, 100%));
  --fenext-modal-height: max(30vh, min(15rem, 100%));
}

:root {
  --fenext-color-primary: var(--ave-primary);
  --fenext-color-theme-light-primary: var(--ave-primary);
  --fenext-color-secondary: var(--ave-secondary);
  --fenext-color-theme-light-secondary: var(--ave-secondary);
  --fenext-color-success: #43A047;
  --fenext-color-theme-light-success: #43A047;
  --fenext-color-warning: #FDD835;
  --fenext-color-theme-light-warning: #FDD835;
  --fenext-color-danger: #E53935;
  --fenext-color-theme-light-danger: #E53935;
  --fenext-color-light: #F5F5F5;
  --fenext-color-theme-light-light: #F5F5F5;
  --fenext-color-dark: #212121;
  --fenext-color-theme-light-dark: #212121;
  --fenext-color-gray: #c9c9c9;
  --fenext-color-theme-light-gray: #c9c9c9;
  --fenext-color-disabled: #9c9c9c;
  --fenext-color-theme-light-disabled: #9c9c9c;
  --fenext-color-white: #fff;
  --fenext-color-theme-light-white: #fff;
  --fenext-color-loader-background: #f2f2f2;
  --fenext-color-theme-light-loader-background: #f2f2f2;
  --fenext-color-loader-foreground: #9c9c9c;
  --fenext-color-theme-light-loader-foreground: #9c9c9c;
}

@media (prefers-color-scheme: dark) {
  :root:not(:has([data-fenext-prefers-color-scheme-disabled])) {
    --ave-white: #1a222c;
    --ave-gray: #d1d1d1; /* más claro para contrastar con fondo oscuro */
    --ave-primary: #a78bfa; /* un violeta más suave y brillante */
    --ave-secondary: #7b61ff; /* más claro que el original para destacar */
    --ave-active: #e0d5ff; /* mucho más claro para marcar foco o estado activo */
    --fenext-color-primary: var(--ave-primary);
    --fenext-color-theme-dark-primary: var(--ave-primary);
    --fenext-color-secondary: var(--ave-secondary);
    --fenext-color-theme-dark-secondary: var(--ave-secondary);
    --fenext-color-success: #66BB6A;
    --fenext-color-theme-dark-success: #66BB6A;
    --fenext-color-warning: #FFEB3B;
    --fenext-color-theme-dark-warning: #FFEB3B;
    --fenext-color-danger: #EF5350;
    --fenext-color-theme-dark-danger: #EF5350;
    --fenext-color-light: #24303f;
    --fenext-color-theme-dark-light: #24303f;
    --fenext-color-dark: #FAFAFA;
    --fenext-color-theme-dark-dark: #FAFAFA;
    --fenext-color-gray: #c9c9c9;
    --fenext-color-theme-dark-gray: #c9c9c9;
    --fenext-color-disabled: #9c9c9c;
    --fenext-color-theme-dark-disabled: #9c9c9c;
    --fenext-color-white: #1a222c;
    --fenext-color-theme-dark-white: #1a222c;
    --fenext-color-loader-background: hsl(0, 0%, 35%);
    --fenext-color-theme-dark-loader-background: hsl(0, 0%, 35%);
    --fenext-color-loader-foreground: hsl(0, 0%, 71%);
    --fenext-color-theme-dark-loader-foreground: hsl(0, 0%, 71%);
  }
}
[fenext-theme=dark] {
  --ave-white: #1a222c;
  --ave-gray: #d1d1d1; /* más claro para contrastar con fondo oscuro */
  --ave-primary: #a78bfa; /* un violeta más suave y brillante */
  --ave-secondary: #7b61ff; /* más claro que el original para destacar */
  --ave-active: #e0d5ff; /* mucho más claro para marcar foco o estado activo */
  --fenext-color-primary: var(--ave-primary);
  --fenext-color-theme-dark-primary: var(--ave-primary);
  --fenext-color-secondary: var(--ave-secondary);
  --fenext-color-theme-dark-secondary: var(--ave-secondary);
  --fenext-color-success: #66BB6A;
  --fenext-color-theme-dark-success: #66BB6A;
  --fenext-color-warning: #FFEB3B;
  --fenext-color-theme-dark-warning: #FFEB3B;
  --fenext-color-danger: #EF5350;
  --fenext-color-theme-dark-danger: #EF5350;
  --fenext-color-light: #24303f;
  --fenext-color-theme-dark-light: #24303f;
  --fenext-color-dark: #FAFAFA;
  --fenext-color-theme-dark-dark: #FAFAFA;
  --fenext-color-gray: #c9c9c9;
  --fenext-color-theme-dark-gray: #c9c9c9;
  --fenext-color-disabled: #9c9c9c;
  --fenext-color-theme-dark-disabled: #9c9c9c;
  --fenext-color-white: #1a222c;
  --fenext-color-theme-dark-white: #1a222c;
  --fenext-color-loader-background: hsl(0, 0%, 35%);
  --fenext-color-theme-dark-loader-background: hsl(0, 0%, 35%);
  --fenext-color-loader-foreground: hsl(0, 0%, 71%);
  --fenext-color-theme-dark-loader-foreground: hsl(0, 0%, 71%);
}

[fenext-theme=light] {
  --fenext-color-primary: var(--ave-primary);
  --fenext-color-theme-light-primary: var(--ave-primary);
  --fenext-color-secondary: var(--ave-secondary);
  --fenext-color-theme-light-secondary: var(--ave-secondary);
  --fenext-color-success: #43A047;
  --fenext-color-theme-light-success: #43A047;
  --fenext-color-warning: #FDD835;
  --fenext-color-theme-light-warning: #FDD835;
  --fenext-color-danger: #E53935;
  --fenext-color-theme-light-danger: #E53935;
  --fenext-color-light: #F5F5F5;
  --fenext-color-theme-light-light: #F5F5F5;
  --fenext-color-dark: #212121;
  --fenext-color-theme-light-dark: #212121;
  --fenext-color-gray: #c9c9c9;
  --fenext-color-theme-light-gray: #c9c9c9;
  --fenext-color-disabled: #9c9c9c;
  --fenext-color-theme-light-disabled: #9c9c9c;
  --fenext-color-white: #fff;
  --fenext-color-theme-light-white: #fff;
  --fenext-color-loader-background: #f2f2f2;
  --fenext-color-theme-light-loader-background: #f2f2f2;
  --fenext-color-loader-foreground: #9c9c9c;
  --fenext-color-theme-light-loader-foreground: #9c9c9c;
}

/*# sourceMappingURL=index.css.map */
